<h1>Config</h1>

<div *ngFor="let item of test">
  <p>{{item.FirstName}}</p>
</div>

<form class="form-signin" #fibonacciForm="ngForm" (ngSubmit)="setFibonacci(fibonacciForm.value)">
<p>
  <mat-form-field appearance="outline" style="width:400px !important">
    <mat-label>Fibonacci Value</mat-label>
    <input matInput id="fibVal" name="fibVal" #fibVal="ngModel" ngModel>
  </mat-form-field>
</p>
<button type="submit" mat-raised-button color="primary" style="width:400px !important">Submit</button>
</form>

<form class="form-signin" #newDevForm="ngForm" (ngSubmit)="setDev(newDevForm.value)">
  <h1>Add Developer</h1>
  <div class="">
      <mat-form-field style="width:400px !important">
        <input matInput placeholder="First Name" name="fname" id="fname" #fname="ngModel" ngModel>
      </mat-form-field>
  </div>

  <div class="">
      <mat-form-field style="width:400px !important">
        <input matInput placeholder="Middle Name" name="mname" id="mname" #mname="ngModel" ngModel>
      </mat-form-field>
  </div>

  <div class="">
      <mat-form-field style="width:400px !important">
        <input matInput placeholder="Last Name" name="lname" id="lname" #lname="ngModel" ngModel>
      </mat-form-field>
  </div>

  <button type="submit" mat-raised-button color="primary" style="width:400px !important">Submit</button>
  </form>


